* {
  font-family: 'Anton', sans-serif;

  font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #78B0AE;
  }
  button {
    background-color:#558683;
    border-radius: 6px;
    border: none;
    color: #FCEEAC;
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
  }
  #placeholder {
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border:2px solid #FCEEAC;
    border-radius: 10px;  
    font-size:80px;
    color: #FCEEAC;
  }
  #dicechoice
  {
    color: #FCEEAC;
    font-size: 30px;
    border-radius:5px;
    border: 2px solid #FCEEAC;
  }
